# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
dist/
dist-ssr/
coverage/

# Tauri
src-tauri/target/
src-tauri/gen/

# Environment Variables
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
.idea/
*.sw?
vibe-check/

# Security / Logs
*.log
